<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Incluye la hoja de estilo de Bulma -->
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bulma.css') }}></link>
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title is-1">{% block h1 %}{% endblock %}</h1>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <form id="search-form">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input" type="text" placeholder="Buscar video..." id="search-input">
                </div>
                <div class="control">
                  <button class="button is-info" type="submit">
                    Buscar
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="navbar-item">
            <form action="/privada" method="post">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input" type="password" placeholder="Contraseña" name="password">
                </div>
                <div class="control">
                  <button class="button is-info" type="submit">
                    Acceder
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <!-- Utiliza la clase container de Bulma para darle un ancho fijo y centrar la página -->
    <div class="container">
      <div class="box is-full">
        <div class="notification">
          <video src="" controls id="videoCentral"></video>
        </div>
      </div>
      <!-- Utiliza la clase columns de Bulma para crear una estructura de grilla -->
      <div class="grid">
       
        {% for video in videos %}
        {% set index = loop.index0 %}

          <div class="grid-item is-one-third box">
              <h3 class="title is-5">{{ video }}</h3>
              <video class="image is-16by9" id="{{ index }}">
                <source src="/static/{% block directorioVideo %}{% endblock %}/{{ video }}" id="url-video-{{ index }}">
              </video>
              <div class="buttons">
                <button class="button is-info" onclick="playPause('{{ index }}')">
                  <span id="play-pause-icon-{{ index }}" class="fas">▶</span>
                </button>
                <button class="button is-danger" onclick="fnVideoPrincipal('url-video-{{ index }}')">Principal</button>
                <button class="button is-success" onclick="muteUnmute('{{ index }}')">🔇</button>
              </div>
              <input type="range" id="volume-{{ index }}" min="0" max="1" step="0.1" oninput="changeVolume('{{ index }}')">
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/mansoryV4.2.2min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contenido.js') }}"></script>
    <script src="{{ url_for('static', filename='js/videoControler.js') }}"></script>

  </body>
</html>

