<!DOCTYPE html>
<html>
  <head>
    <title>Galería de videos</title>
    <!-- Incluye la hoja de estilo de Bulma -->
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bulma.css') }}></link>
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}></link>
  </head>
  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title is-1">Galería de videos</h1>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <form id="search-form">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" type="text" placeholder="Buscar video..." id="search-input">
            </div>
            <div class="control">
              <button class="button is-info" type="submit">
                Buscar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
    <!-- Utiliza la clase container de Bulma para darle un ancho fijo y centrar la página -->
    <div class="container">
      <!-- Utiliza la clase columns de Bulma para crear una estructura de grilla -->
      <div class="columns is-multiline is-flex">
        {% for video in videos %}
          <!-- Utiliza la clase column de Bulma para dividir la grilla en columnas -->
          <div class="column is-one-third">
            <!-- Utiliza la clase box de Bulma para crear una caja con estilo predefinido -->
            <div class="box">
              <h3 class="title is-5">{{ video }}</h3>
              <video src="/static/videos/{{ video }}" controls class="image is-16by9"></video>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <script>
	const input = document.getElementById('search-input');
	const columns = document.querySelectorAll('.columns .column');

	input.addEventListener('keyup', function() {
	  const value = this.value.toLowerCase();
	  columns.forEach(column => {
	    if (column.textContent.toLowerCase().includes(value)) {
	      column.style.display = 'block';
	    } else {
	      column.style.display = 'none';
	    }
	  });
	});
    </script>
    
  </body>
</html>

