<!DOCTYPE html>
<html>
  <head>
    <title>Galería de videos</title>
    <!-- Incluye la hoja de estilo de Bulma -->
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bulma.css') }}></link>
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}></link>
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title is-1">Galería de videos</h1>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <form id="search-form">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input" type="text" placeholder="Buscar video..." id="search-input">
                </div>
                <div class="control">
                  <button class="button is-info" type="submit">
                    Buscar
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="navbar-item">
            <form action="/privada" method="post">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input" type="password" placeholder="Contraseña" name="password">
                </div>
                <div class="control">
                  <button class="button is-info" type="submit">
                    Acceder
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <!-- Utiliza la clase container de Bulma para darle un ancho fijo y centrar la página -->
    <div class="container">
      <div class="box is-full">
        <div class="notification">
          <video src="" controls id="videoCentral"></video>
        </div>
      </div>
      <!-- Utiliza la clase columns de Bulma para crear una estructura de grilla -->
      <div class="columns is-multiline is-flex">
       
        {% for video in videos %}
        {% set index = loop.index0 %}

          <!-- Utiliza la clase column de Bulma para dividir la grilla en columnas -->
          <div class="column is-one-third">
            <!-- Utiliza la clase box de Bulma para crear una caja con estilo predefinido -->
            <div class="box">
              <h3 class="title is-5">{{ video }}</h3>
              <video class="image is-16by9" id="{{ index }}">
                <source src="/static/videos/{{ video }}" id="url-video-{{ index }}">
              </video>
              <div class="buttons">
                <button class="button is-info" onclick="playPause('{{ index }}')">Iniciar/pausar</button>
                <button class="button is-danger" onclick="fnVideoPrincipal('url-video-{{ index }}')">Principal</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <script>
	const input = document.getElementById('search-input');
	const columns = document.querySelectorAll('.columns .column');

	input.addEventListener('keyup', function() {
	  const value = this.value.toLowerCase();
	  columns.forEach(column => {
	    if (column.textContent.toLowerCase().includes(value)) {
	      column.style.display = 'block';
	    } else {
	      column.style.display = 'none';
	    }
	  });
	});
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('h3').forEach(function(h3) {
    h3.textContent = h3.textContent.replace(/_/g, ' ');
    h3.textContent = h3.textContent.replace(/(\.mp4|\.mkv|\.webm)$/g, '');
  });
});
function playPause(index) { 
  var myVideo = document.getElementById(index); 
    if (myVideo.paused) 
      myVideo.play(); 
    else 
      myVideo.pause(); 
  } 
  function fnVideoPrincipal(id) {
  let video = document.getElementById(id);
  let videoCentral = document.getElementById('videoCentral');
  videoCentral.src = video.src;
  videoCentral.alt = "videocentral";
}
  
</script>


  </body>
</html>

